<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">

<div class="container">
    <table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                {% for key in db_keys %}
                    {% if forloop.counter != 1 %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor%}
            </tr>
        </thead>
        <tbody>
            {% for grb in db %}
                <tr>
                {% for value in grb.values %}
                    {% if forloop.counter != 1 %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor%}
                </tr>
            {% endfor%}
        </tbody>
    </table>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>

{% load static %}
<script type="text/javascript" src="{% static 'grb_database/js/script.js' %}"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>








